//- render to display idea by default
form(id="#{idea._id}",method='post', action='/ideas/#{idea.id}')
  input(type="hidden", name="_method", value="put")
  textarea(name='idea[text]', placeholder='|')
    |#{idea.text}
  input(type="submit", value='+')div.idea(id="#{idea.id}")
  form.edit(method='post', action='/ideas/#{idea.id}')
    input(type="hidden", name="_method", value="put")
    textarea.idea-text(name='idea[text]', placeholder='|')
      |#{idea.text}
    input(type="submit", value='+')